.ecw-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 9999;
  display: none; }
  .ecw-mask .ecw-loading-screen {
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: none; }
    .ecw-mask .ecw-loading-screen .ecw-loading-spinner {
      display: block;
      width: 146px;
      height: 146px;
      background-image: url("spin.svg");
      margin: auto; }
  .ecw-mask .ecw-dialog {
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    background-color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; }
    .ecw-mask .ecw-dialog .ecw-dialog-close {
      text-align: right;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 12px;
      color: gray; }
    .ecw-mask .ecw-dialog #ecw-button-dismiss {
      margin-top: 20px; }
  .ecw-mask .ecw-fullmodal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: scroll; }
    .ecw-mask .ecw-fullmodal .ecw-fullmodal-close {
      text-align: right;
      background-color: #0c5a98;
      color: white;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px 10px 0 10px;
      height: 42px; }
    .ecw-mask .ecw-fullmodal .ecw-fullmodal-content {
      margin-top: 42px; }
      .ecw-mask .ecw-fullmodal .ecw-fullmodal-content .tweet {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #00a8f1; }
        .ecw-mask .ecw-fullmodal .ecw-fullmodal-content .tweet .avatar img {
          border-radius: 50%; }
        .ecw-mask .ecw-fullmodal .ecw-fullmodal-content .tweet .tweet-content {
          margin-left: 60px;
          text-align: left; }
          .ecw-mask .ecw-fullmodal .ecw-fullmodal-content .tweet .tweet-content .tweet-header .name {
            font-weight: 700;
            font-size: 18px;
            color: black; }
          .ecw-mask .ecw-fullmodal .ecw-fullmodal-content .tweet .tweet-content .tweet-header .screen-name {
            margin-left: 5px; }
          .ecw-mask .ecw-fullmodal .ecw-fullmodal-content .tweet .tweet-content .tweet-text {
            line-height: 22px;
            color: black; }
          .ecw-mask .ecw-fullmodal .ecw-fullmodal-content .tweet .tweet-content .tweet-created-at {
            font-size: 12px;
            color: #aaa; }

.ecw-container {
  /* zoom tree map stylings */ }
  .ecw-container .g-recaptcha {
    margin-top: 10px; }
  .ecw-container #ecw-chart-controls {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow: auto; }
    .ecw-container #ecw-chart-controls .tier-depth circle {
      fill: #cdcdcd;
      cursor: pointer; }
    .ecw-container #ecw-chart-controls .tier-depth circle.selected {
      fill: #1bc4ed; }
    .ecw-container #ecw-chart-controls .tier-depth text {
      pointer-events: none; }
  .ecw-container .ecw-controls .tabs {
    overflow: auto;
    margin-left: 0px; }
    .ecw-container .ecw-controls .tabs .tab-item {
      float: left;
      list-style: none;
      margin-right: 15px;
      border-top: 4px solid transparent;
      cursor: pointer; }
    .ecw-container .ecw-controls .tabs .tab-item.active {
      border-top-color: #00a8f1; }
  .ecw-container .ecw-controls .panel {
    display: none;
    width: 100%; }
    .ecw-container .ecw-controls .panel .input-line {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
  .ecw-container .ecw-controls .panel.active {
    display: block; }
  .ecw-container #ecw-canvas {
    position: relative; }
  .ecw-container #ecw-status {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #444; }
    .ecw-container #ecw-status .label {
      display: block;
      font-size: 10px;
      text-transform: uppercase;
      color: gray; }
  .ecw-container #ecw-categories {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .ecw-container #ecw-tweets {
    font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif; }
    .ecw-container #ecw-tweets p {
      display: none; }
    .ecw-container #ecw-tweets br {
      display: none; }
    .ecw-container #ecw-tweets .tweet {
      padding: 5px;
      border: 1px solid #00b5e4;
      margin-bottom: 5px;
      background-color: white; }
      .ecw-container #ecw-tweets .tweet .profile-pic {
        float: left;
        border-radius: 50%;
        margin-top: 6px; }
      .ecw-container #ecw-tweets .tweet .tweet-body {
        margin-left: 85px; }
        .ecw-container #ecw-tweets .tweet .tweet-body .name {
          font-weight: 800;
          font-size: 18px;
          color: #00b5e4; }
        .ecw-container #ecw-tweets .tweet .tweet-body .screen-name, .ecw-container #ecw-tweets .tweet .tweet-body .created-at {
          font-weight: 300;
          font-size: 14px;
          color: #8899a6;
          margin-left: 5px; }
        .ecw-container #ecw-tweets .tweet .tweet-body .created-at {
          margin-top: 10px; }
        .ecw-container #ecw-tweets .tweet .tweet-body .text {
          font-size: 22px;
          display: block;
          margin-top: 15px;
          line-height: 30px; }
  .ecw-container .ecw-cbc-block {
    padding: 10px;
    background-color: white;
    border: 1px solid #00b5e4;
    font-family: Verdana, Geneva, sans-serif;
    margin-bottom: 10px; }
    .ecw-container .ecw-cbc-block .block-title {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: black; }
    .ecw-container .ecw-cbc-block .ecw-cbc-bar {
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 0px;
      position: relative;
      height: 40px;
      -webkit-box-shadow: 2px 2px 25px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 2px 25px -6px rgba(0, 0, 0, 0.75);
      box-shadow: 2px 2px 25px -6px rgba(0, 0, 0, 0.75); }
      .ecw-container .ecw-cbc-block .ecw-cbc-bar .ecw-cbc-bar-label {
        position: absolute;
        color: black;
        font-size: 16px;
        line-height: 40px;
        top: 0px; }
    .ecw-container .ecw-cbc-block .ecw-cbc-table {
      color: black;
      margin-bottom: 0px; }
      .ecw-container .ecw-cbc-block .ecw-cbc-table td {
        border-top: 1px solid #00b5e4; }
      .ecw-container .ecw-cbc-block .ecw-cbc-table tbody {
        border-bottom: none; }
      .ecw-container .ecw-cbc-block .ecw-cbc-table .category-name {
        text-align: left;
        color: royalblue;
        font-weight: 700; }
        .ecw-container .ecw-cbc-block .ecw-cbc-table .category-name .category-path {
          font-size: 14px;
          color: black;
          margin-bottom: 0px;
          font-weight: 300;
          line-height: 19px;
          width: 85%; }
      .ecw-container .ecw-cbc-block .ecw-cbc-table .content-score {
        text-align: right; }
  .ecw-container .bc-nav {
    position: absolute;
    border: 1px solid white;
    color: white;
    width: 32px;
    text-align: center;
    cursor: pointer;
    height: 32px;
    line-height: 30px;
    top: 4px; }
  .ecw-container .bc-nav.bc-nav-back {
    left: 4px; }
  .ecw-container .bc-nav.bc-nav-forward {
    right: 4px; }
  .ecw-container .bc-nav.disabled {
    opacity: 0.15; }
  .ecw-container .tm-cell {
    font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif; }
  .ecw-container .tool-tip {
    text-align: left;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0px;
    padding: 10px;
    font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif;
    font-size: 14px; }
  .ecw-container .tm-label {
    pointer-events: none;
    font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black; }
  .ecw-container .tm-breadcrumbs {
    padding: 10px;
    font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif;
    margin-left: 32px; }
  .ecw-container .tm-crumb {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    border-bottom: none;
    box-shadow: none; }
  .ecw-container .tm-crumb:hover {
    color: #f26522; }
  .ecw-container .tm-crumb:not(.tm-crumb-first):not(.tm-crumb-last)::after, .ecw-container .tm-crumb:not(.tm-crumb-first):not(.tm-crumb-last):hover::after {
    content: "::";
    display: inline-block;
    margin: auto 0px auto 5px;
    text-decoration: none;
    color: #ffffff; }
  .ecw-container .tm-crumb-first::after, .ecw-container .tm-crumb-first:hover::after {
    content: ">";
    display: inline-block;
    margin: auto 0px auto 5px;
    text-decoration: none;
    color: #ffffff; }
  .ecw-container .chartZTM .tm-cell {
    cursor: pointer; }
  .ecw-container .chartZTM g.tm-cell rect.tm-rect {
    fill-opacity: 0.50;
    stroke-width: 1.5px;
    stroke: #fff; }
  .ecw-container .chartZTM g.tm-cell:hover rect.tm-rect {
    /*fill: #002157 !important;*/
    fill-opacity: 0.30; }
  .ecw-container .chartZTM text.tm-label {
    font-size: 16px; }
  .ecw-container .chartZTM g.tm-cell:hover text.tm-label {
    /*fill: #ffffff !important;*/
    text-decoration: underline;
    pointer-events: none; }
  .ecw-container .chartZTM g.tm-top rect {
    fill: #555555 !important; }
  .ecw-container .chartZTM g.tm-top text {
    fill: #fff;
    font-size: 12px;
    cursor: pointer; }
  .ecw-container .chartZTM rect.tm-rect {
    stroke-width: 2px;
    stroke: #ffffff; }
  .ecw-container .ztm-path-buttons {
    position: relative;
    float: right;
    margin: 5px auto 2px auto;
    display: none; }
    .ecw-container .ztm-path-buttons .btn-path {
      background-color: #00649C;
      color: white;
      font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 14px; }

/*# sourceMappingURL=ecw.css.map */
