$tierDepth: #cdcdcd;
$tierDepthSelected: #1bc4ed;
$statusTextColor: #444;
$twitterDarkGray: #8899a6;
$twitterLightGray: #e1e8ed;
$eContextBlue: #00649C;

.ecw-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.80);
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;

  .ecw-loading-screen {
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: none;

    .ecw-loading-spinner {
      display: block;
      width: 146px;
      height: 146px;
      background-image: url('spin.svg');
      margin: auto;
    }
  }

  .ecw-dialog {
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    background-color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    .ecw-dialog-close {
      text-align: right;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 12px;
      color: gray;
    }

    #ecw-button-dismiss {
      margin-top: 20px;
    }
  }
}

.ecw-container {

  .g-recaptcha {
    margin-top: 10px;
  }

  #ecw-chart-controls {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow: auto;

    .tier-depth {
      circle {
        fill: $tierDepth;
        cursor: pointer;
      }
      circle.selected {
        fill: $tierDepthSelected;
      }
      text {
        pointer-events: none;
      }
    }
  }

  .ecw-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #ecw-canvas {
    position: relative;
  }

  #ecw-status {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $statusTextColor;

    .label {
      display: block;
      font-size: 10px;
      text-transform: uppercase;
      color: gray;
    }
  }

  #ecw-tweets {
    font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif;

    p {
      display: none;
    }
    br {
      display: none;
    }

    .tweet {
      padding: 5px;
      border: 1px solid rgb(0, 181, 228);
      margin-bottom: 5px;
      background-color: white;

      .profile-pic {
        float: left;
        border-radius: 50%;
        margin-top: 6px;
      }

      .tweet-body {
        margin-left: 85px;

        .name {
          font-weight: 800;
          font-size: 18px;
          color: rgb(0, 181, 228);
        }
        .screen-name, .created-at {
          font-weight: 300;
          font-size: 14px;
          color: $twitterDarkGray;
          margin-left: 5px;
        }
        .created-at {
          margin-top: 10px;
        }
        .text {
          font-size: 22px;
          display: block;
          margin-top: 15px;
          line-height: 30px;
        }
      }
    }
  }

  /* zoom tree map stylings */
  .tm-cell {
    font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif;
  }
  .tool-tip {
    text-align: left;
    color: #fff;
    background-color: rgba(0,0,0,.35);
    border-radius: 0px;
    padding: 10px;
    font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .tm-label {
    pointer-events: none;
    font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  }
  .tm-breadcrumbs {
    padding: 10px;
    font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif;
  }
  .tm-crumb {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    border-bottom: none;
    box-shadow: none;
  }
  .tm-crumb:hover {
    color: #f26522;
  }
  .tm-crumb:not(.tm-crumb-first):not(.tm-crumb-last)::after, .tm-crumb:not(.tm-crumb-first):not(.tm-crumb-last):hover::after {
    content: "::";
    display: inline-block;
    margin: auto 0px auto 5px;
    text-decoration: none;
    color: #ffffff;
  }
  .tm-crumb-first::after, .tm-crumb-first:hover::after {
    content: ">";
    display: inline-block;
    margin: auto 0px auto 5px;
    text-decoration: none;
    color: #ffffff;
  }
  .chartZTM .tm-cell {
    cursor: pointer;
  }
  .chartZTM g.tm-cell rect.tm-rect {
    fill-opacity: 0.50;
    stroke-width: 1.5px;
    stroke: #fff;
  }
  .chartZTM g.tm-cell:hover rect.tm-rect {
    /*fill: #002157 !important;*/
    fill-opacity: 0.30;
  }
  .chartZTM text.tm-label {
    font-size: 16px;
  }
  .chartZTM g.tm-cell:hover text.tm-label {
    /*fill: #ffffff !important;*/
    text-decoration: underline;
    pointer-events: none;
  }
  .chartZTM g.tm-top rect {
    fill: #555555 !important;
  }
  .chartZTM g.tm-top text {
    fill: #fff;
    font-size: 12px;
    cursor: pointer;
  }
  .chartZTM rect.tm-rect {
    stroke-width: 2px;
    stroke: #ffffff;
  }
  .ztm-path-buttons {
    position: relative;
    float: right;
    margin: 5px auto 2px auto;
    display: none;

    .btn-path {
      background-color: $eContextBlue;
      color: white;
      font-family: 'MuseoSans_l', Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 14px;
    }
  }
}